@import "../../assets/styles/variables";

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 0;
    padding: 60px 0;
    @media screen and (max-width: $tablet) {
        padding: 115px 15px 15px;
        gap: 60px 0;
    }
    @media screen and (min-width: $tablet) and (max-width: $tablet-large){
        padding: 160px 60px 60px 60px ;
    }
    .loader {
        flex-basis: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        padding: 80px 0;
    }
    .sentinel{
        width: 0px;
    }
}