@import "../../assets/styles/variables";

.postCard {
    display: flex;
    background-color: $light-color;
    flex-wrap: wrap;
    .imageBlock {
        flex-basis: 320px;
        img {
            width: 100%;
        }
    }
    .textBlock {
        display: flex;
        flex-direction: column;
        padding: 35px 0 35px 0;
        margin: 0 0 0 80px;
        span {
            color: $dark-color;
            font-size: 24px;
            line-height: 34.13px;
        }
        h3 {
            color: $primary-color;
            font-weight: 700;
            font-size: 36px;
            line-height: 42.66px;
        }
    }
    .actionBlock {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 40px 40px 0;
    }
    @media screen and (max-width: $tablet) {
        .imageBlock {
            flex-basis: 100px;
        }
        .textBlock {
            flex-basis: 100px;
            margin: 0 30px 0 30px;
            flex-grow: 1;
            span {
                font-size: 14px;
            }
            h3 {
                font-size: 24px;
                line-height: 25.66px;
            }
        }
        .actionBlock {
            flex-basis: 100%;
            flex-direction: row;
            margin: 0 20px 20px 0;
        }
    }
}