@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 100px 0 0 0 ;
    @media screen and (max-width: $mobile-large ) {
        padding: 100px 15px 15px 15px;
    }
}
.container {
    @include container;
    background-color: $light-color;
    margin: 100px 0;
    @media screen and (max-width: $mobile-large ) {
        margin: 15px 0;
    }
    @media screen and (max-width: $tablet ) {
        margin: 43px 0;
    }
}

.header {
    display: flex;
    .imageBlock {
        flex-basis: 640px;
        img {
            width: 100%;
        }
    }
    .textBlock {
        padding: 120px;
        flex-basis: 640px;
        display: flex;
        flex-direction: column;
        .date {
            font-size: 18px;
            line-height: 25.6px;
            color: #032937;
            margin-bottom: 44px;
        }
        .author {
            margin-bottom: 61px;
            a {
                color: $dark-color;
                font-size: 24px;
                line-height: 34px;
                text-decoration: none;
                transition:all 0.3s ease;
                &:hover {
                    transition:all 0.3s ease;
                    color: $primary-color;
                }
            }
        }
        h1 {
            color: $primary-color;
            font-size: 36px;
            line-height: 42.66px;
        }
        @media screen and (max-width: $tablet ) {
            padding: 0;
            .date {
                margin-bottom: 20px;
            }
            .author {
                margin-bottom: 20px;
            }
        }
        @media screen and (max-width: $tablet-large ) {
            padding: 0;
            .date {
                margin-bottom: 10px;
            }
            .author {
                margin-bottom: 10px;
            }
            h1 {
                font-size: 24px;
                line-height: 32.66px;
            }
        }
    }
    @media screen and (max-width: $tablet ) {
        flex-wrap: wrap;
        .imageBlock, .textBlock {
            flex-basis: 100%;
        }
        .textBlock {
            padding: 25px;
            flex-basis: 100%;
        }
    }
}
.article {
    p {
        font-size: 24px;
        line-height: 34.13px;
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: unset;
        }
    }
    @media screen and (min-width: $desktop) {
        padding: 124px 250px 168px 250px;
    }
    padding: 25px;
    
}