@import "./../../assets/styles/variables";

.modal {
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    position: absolute;   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    @media screen and (max-width: $tablet) {
        .heading {
            font-size: 24px;
        }
    }

}
.backdrop {
    background-color: $backdrop-color;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}
.content {
    padding: 100px 0;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1;
    justify-content: center;
}