@import "../../assets/styles/variables";

.header {
    height: 100px;
    color: #FFF;
    background-color: $dark-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    .heading {
        font-size: 36px;
        line-height: 42.66px;
        @media screen and (max-width: $mobile-large) {
            font-size: 24px;
        }
    }
}
.nav {
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        line-height: 38px;
        min-width: 318px;
        @media screen and (max-width: $mobile-large) {
            min-width: 160px;
        }
        li {

            a.navItem, button.navItem {
                font-size: 32px;
                font-weight: 500;
                color: $light-color;
                @media screen and (max-width: $mobile-large) {
                    font-size: 18px;
                }
            }
            a.navItem {
                text-decoration: none;
            }
            button.navItem {
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: inline;
                line-height: 38px;
            }
        }
    }
}