@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $dark-color;
    .container {
        @include container;
        height: 100px;
        color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heading {
            font-size: 36px;
            line-height: 42.66px;
        }
        @media screen and (max-width: $mobile-large) {
            .heading {
                font-size: 24px;
            }
        }
    }
    @media screen and (max-width: $tablet) {
        padding: 0 15px;
    }
}
.nav {
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        line-height: 38px;
        min-width: 318px;
        @media screen and (max-width: $mobile-large) {
            min-width: 160px;
        }
        li {

            a.navItem, button.navItem {
                font-size: 32px;
                font-weight: 500;
                color: $light-color;
                @media screen and (max-width: $mobile-large) {
                    font-size: 18px;
                }
            }
            a.navItem {
                text-decoration: none;
            }
            button.navItem {
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: inline;
                line-height: 38px;
            }
        }
    }
}