// Fonts
$main-font: 'Rubik', sans-serif;

// Colors
$primary-color: rgba(241, 161, 10, 1);
$secondary-color: rgba(52, 35, 3, 1);
$light-color: #FFF;
$dark-color: #2D2D2D;
// layout
$primary-shadow: 0 4px 4px 0 rgba(0,0,0, 0.25);
$secondary-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
$main-gradient: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);


// Breakpoints 
$desktop: 1280px;
$tablet-large: 1024px;
$tablet: 768px;
$mobile-large: 435px;