@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 100px 0 0 0 ;
    @media screen and (max-width: $mobile-large ) {
        padding: 100px 15px 15px 15px;
    }
}
.container {
    @include container;
    background-color: $light-color;
    margin: 100px 0;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $mobile-large ) {
        margin: 15px 0;
    }
    @media screen and (max-width: $tablet ) {
        margin: 43px 0;
    }
}